<div class="row">
  <div class="col">
    <h4>Enter Source Water Profile</h4>
  </div>
</div>
<div class="row">
  <div class="col mb-3">
    <label for="calcium">Calcium</label>
    <input type="number" class="form-control" id="calcium" placeholder="ppm" required="">
  </div>
  <div class="col mb-3">
    <label for="magnesium">Magnesium</label>
    <input type="number" class="form-control" id="magnesium" placeholder="ppm" required="">
  </div>
  <div class="col mb-3">
    <label for="alkalinity">Alkalinity</label>
    <input type="number" class="form-control" id="alkalinity" placeholder="ppm" required="">
  </div>
  <div class="col mb-3">
    <label for="sulfate">Sulfate</label>
    <input type="number" class="form-control" id="sulfate" placeholder="ppm" required="">
  </div>
  <div class="col mb-3">
    <label for="chloride">Chloride</label>
    <input type="number" class="form-control" id="chloride" placeholder="ppm" required="">
  </div>
  <div class="col mb-3">
    <label for="sodium">Sodium</label>
    <input type="number" class="form-control" id="sodium" placeholder="ppm" required="">
  </div>
  <div class="col mb-3">
    <label for="ph">pH</label>
    <input type="number" class="form-control" id="ph" placeholder="ppm" required="">
  </div>
</div>
<div class="row">
  <div class="col-5">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Source Data Diagnostics</th>
          <th scope="col">Cation sum</th>
          <th scope="col">Anion sum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">(ppm)</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-7">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">RA as CaCO3</th>
          <th scope="col">Sulfate/Chloride Ratio</th>
          <th scope="col">Est. EBC (Low)</th>
          <th scope="col">Est. EBC (High)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>(ppm)</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
