<div class="container">
  <div class="row">
    <div class="col">
      <h4>List of beer styles by BJCP</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2">
      <div ngbDropdown class="dropdown">
        <button id="dropdownMenu" class="btn btn-outline-secondary" ngbDropdownToggle>BJCP Beer styles</button>
        <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
          <button class="dropdown-item" *ngFor="let beer of beerStyles">{{beer.bjcpStyleId}}. {{beer.name}}</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <h3 class="text-muted">Some other text about style</h3>
    </div>
  </div>
</div>
