<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Mineral Ranges for the Style</th>
      <th scope="col">Calcium (Ca)</th>
      <th scope="col">Magnesium (Mg)</th>
      <th scope="col">Alkalinity as CaCO3</th>
      <th scope="col">Sulfate (SO2)</th>
      <th scope="col">Chloride (Cl)</th>
      <th scope="col">Sodium (Na)</th>
      <th scope="col">Residual Alkalinity</th>
      <th scope="col">Color (EBC)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">(ppm)</td>
      <td>{{ selectedBeer.calciumRange }}</td>
      <td>{{ selectedBeer.magnesiumRange }}</td>
      <td>{{ selectedBeer.alkalinityRange }}</td>
      <td>{{ selectedBeer.sulfateRange }}</td>
      <td>{{ selectedBeer.chlorideRange }}</td>
      <td>{{ selectedBeer.sodiumRange }}</td>
      <td>{{ selectedBeer.residualAlkalinityRange }}</td>
      <td>{{ selectedBeer.color }}</td>
    </tr>
  </tbody>
</table>
