<app-navbar></app-navbar>
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../assets/pic/you-be-the-chemist-logo-285.png" alt="">
    <h2>John Palmer's Brewing Water Adjustment App</h2>
    <p class="lead">This web application was made in educational purposes only! The main water adjustment application was made by John Palmer and his team and can be downloaded here. Enjoy using application and think about the environment first!</p>
  </div>
  <app-beer-style></app-beer-style>
</div>
<app-footer></app-footer>
